
script(type="text/javascript" src="p5.min.js")
script(type="text/javascript" src="infiniteTunel/framework.js")
script(type="text/javascript" src="infiniteTunel/frameworkManager.js")
script(type="text/javascript" src="infiniteTunel/script.js")